@import "var";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#table {
  display: table;
  border-collapse: collapse;
}

.cell {
  display: table-cell;
  height: @cell-height;
  min-width: @cell-width;
  border: black solid 1px;
  box-sizing: border-box;
}

.c-1 {
  background-color: red;
}

.col-fixed {
  position: fixed;
}

.row {
  display: table-row;
  overflow-x: scroll;
  min-width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.row-fixed {
  position: fixed;
}

#row-header {
  background-color: #1616ff;
}

.table-body {
  position: absolute;
  top: @cell-height;
}